* {
   box-sizing: border-box;
}
button {
   background-color: blue;
   width: 80%;
   text-align: left;
   color: white;
   border-radius: 10px;
   height: 40px;
   font-size: 1.2em;
   padding: 5px 16px;
   border: none;
}
.accordion:after {
   content: "^";
   font-size: 20px;
   font-weight: bold;
   color: white;
   float: right;
   transition: 0.4s;
}
.flex {
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-top: 3rem;
}
.active {
   background-color: rgba(170, 165, 165, 0.29);
   color: black;
   border-radius: 10px 10px 0 0;
}
.active:after {
   content: "^";
   transform: rotate(180deg);
   font-size: 20px;
   font-weight: bold;
   color: black;
   float: right;
   transition: 0.4s;
}
